body{
    display: flex;
    flex-direction: column;
    background-color: white;

}

.content-container{
    display: flex;
    flex-direction: column;
}



.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 300px 0 300px;
}
.header-links{
    display: flex;
    gap: 16px;
}
.hero-content-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 300px 0 300px;
}

.hero-content{

    
}

.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 500px;
}

a{
    text-decoration: none;
    color: white;
}